@import 'var.scss';

// Login
.login-body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .login-container{
        @include card();
        @include borderRadius(20);
        width: 90%;
        max-width: 31.25rem;
        .logo-container{
            a{
                display: inline-block;
            }
        }
        h1.heading{
            font-size: 1.625rem;
            line-height: 2rem;
        }
    }
}